[submodule "monero"]
	path = monero
	url = https://github.com/jeffro256/monero
	branch = revert_commaprefix_usage_fcmp++-alpha
	ignore = all
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
